@{
    ViewData["Title"] = "О нас";
}


<section class="gardient-bg-small">
    <div class="container">
        <h1 class="pull-left">О нас</h1>
        <div class="pull-right">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="active">О нас</li>
            </ol>
        </div>
    </div>
</section>

<section id="about-us" class="no-bottom-padding-bg">
    <div class="container">
        <div class="row">
            <div class="section-title text-right">
                <p class="text-blue animated" data-animation="bounceInLeft">Успех любого начинания зависит от надежности партнеров</p>
            </div>
            <div class="col-md-6">
                <p>Каждый Клиент приходит к нам со своей уникальной задачей.</p>
                <p>Наши опытные специалисты всегда готовы предоставить лучшие бизнес – решения.</p><br>

                <p>Наши эксперты имеют богатый практический опыт, их знания подтверждены сертификатами международного образца. Каждый из консультантов имеет не менее 10 лет практического опыта работы в своей сфере, в том числе в крупных международных компаниях.</p><br>
                <p>Мы не следим за изменениями в законодательстве- мы принимаем непосредственное участие в его изменении. Наши сотрудники входят в состав рабочих групп по разработке законопроектов. Работы наших экспертов печатают научные издания Украины.</p><br>
                <p>Мы успешно работаем на рынке Украины, Западной и Восточной Европы с 2012 года.</p>
            </div>
            <div class="col-md-6">
                <img src="~/img/logo_main.png" alt="Personal assessment">
            </div>
        </div>
    </div>
</section>

<section class="gardient-bg-small">
    <div class="container">
        <h2 class="pull-left">НАША СПЕЦИАЛИЗАЦИЯ:</h2>
    </div>
</section>

<section id="our-specialization" class="no-bottom-padding-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li>
                        <p>Комплексное сопровождение бизнеса ИТ компаний;</p><br>
                    </li>
                    <li>
                        <p>Аутсорсинг бизнес процессов;</p><br>
                    </li>
                    <li>
                        <p>Аутстаффинг персонала;</p><br>
                    </li>
                    <li>
                        <p>Бухгалтерское сопровождение бизнеса для юридических лиц;</p><br>
                    </li>
                    <li>
                        <p>Бухгалтерское сопровождение бизнеса для физических лиц- предпринимателей.</p><br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="gardient-bg-small">
    <div class="container">
        <h2 class="pull-left">НАШИ ПРЕИМУЩЕСТВА</h2>
    </div>
</section>

<section id="our-benefites" class="no-bottom-padding-bg">
    <div class="container">
        <div class="row mb10">
            <div class="col-sm-5">
                <p class="fa fa-check"> Задачи каждого бизнеса нестандартны и индивидуальны.</p>
            </div>
            <div class="col-sm-7">
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                <p class="fa fa-check"> Мы предлагаем уникальные решения исключительно для вашего бизнеса.</p>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-5">
                <p class="fa fa-check"> Наши эксперты проводят предварительную диагностику и анализ поставленной задачи.</p>
            </div>
            <div class="col-sm-7">
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                <p class="fa fa-check"> Мы создаем несколько решений и даем вам возможность выбора.</p>
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-5">
                <p class="fa fa-check"> Наши консультанты – профессионалы в своем направлении и имеют богатый практический опыт.</p>
            </div>
            <div class="col-sm-7">
            </div>
        </div>
        <div class="row mb10">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-7">
                <p class="fa fa-check"> Мы используем уникальный опыт мировых компаний при создании своих решений.</p>
            </div>
        </div>
        <div class="row mb10 text-center">
            <p> В результате вы получите повышение результативности вашего бизнеса и надежного бизнес-партнера</p>
        </div>
    </div>
</section>

<!-- Stats Section -->
<section id="stats" class="default-bg bg-overlay-blue-90" style="background-image: url('img/bg/bg-4.jpg');">
    <!-- Container -->
    <div class="container">
        <!-- Section Title -->
        <div class="section-title">
            <h2 class="animated" data-animation="bounceInLeft">Our Statistics</h2>
            <p class="mb40 animated" data-animation="bounceInLeft">Clients numbers</p>
        </div> <!-- ./end Section Title -->
        <!-- Row -->
        <div class="row">
            <!-- STATS NUMBERS -->
            <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-12">
                <div class="stats-box">
                    <i class="fa fa-graduation-cap"></i>
                    <h3>7</h3>
                    <span>Our Trainers</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="stats-box">
                    <i class="fa fa-certificate"></i>
                    <h3>18</h3>
                    <span>Certificates per year</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="stats-box">
                    <i class="fa fa-users"></i>
                    <h3>6</h3>
                    <span>People studing</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="stats-box">
                    <i class="fa fa-calendar"></i>
                    <h3>5</h3>
                    <span>Years of experience</span>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="stats-box">
                    <i class="fa fa-smile-o"></i>
                    <h3>5</h3>
                    <span>Happy clietns</span>
                </div>
            </div>
            <!-- END / STATS NUMBERS -->
        </div> <!-- ./end Row -->
    </div> <!-- ./end Container -->
</section>